In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [4]:
filenames=[]
for file in os.listdir('t20s_female'):
    filenames.append(os.path.join('t20s_female',file))

In [5]:
filenames[0:5]

['t20s_female\\1043989.yaml',
 't20s_female\\1043991.yaml',
 't20s_female\\1043993.yaml',
 't20s_female\\1044211.yaml',
 't20s_female\\1050615.yaml']

In [6]:
final_df=pd.DataFrame()
count=1
for file in tqdm(filenames):
    with open(file,'r') as f:
        df=pd.json_normalize(safe_load(f))
        df['match_id']=count
        final_df=pd.concat([final_df,df])
        count+=1

100%|███████████████████████████████████████████████████████████████████████████████▉| 861/862 [07:09<00:00,  2.00it/s]

NotImplementedError:

In [7]:
final_df

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,...,info.registry.people.O Kirsten,info.registry.people.Mohammad Rashid Ali Khan,info.registry.people.Riazuddin,info.registry.people.JD Cloete,info.registry.people.C Shamshuddin,info.registry.people.AK Chaudhary,info.registry.people.Navdeep Singh,info.registry.people.VA Kulkarni,info.registry.people.Ranjeev Sharma,info.registry.people.VK Sharma
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-17,1,6.0,[2017-02-17],female,T20,40.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.91,2017-02-19,1,6.0,[2017-02-19],female,T20,8.0,New Zealand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.91,2017-02-23,1,6.0,[2017-02-22],female,T20,47.0,New Zealand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2016-09-30,1,6.0,[2016-09-27],female,T20,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.91,2016-11-22,1,6.0,[2016-11-21],female,T20,14.0,New Zealand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2016-03-28,2,6.0,[2016-03-28],female,T20,10.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8fe0c4f8,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2016-03-30,2,6.0,[2016-03-30],female,T20,5.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",0.91,2016-03-31,2,6.0,[2016-03-31],female,T20,6.0,West Indies,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2016-04-03,2,6.0,[2016-04-03],female,T20,NaN,West Indies,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.91,2016-09-12,1,6.0,[2016-09-05],female,T20,6.0,Ireland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data=final_df[['innings','info.dates','info.match_type','info.gender','info.outcome.winner','info.overs','info.player_of_match','info.teams',
             'info.toss.decision','info.toss.winner','info.umpires','info.venue','match_id','info.city','info.outcome.by.wickets']]

In [9]:
data

,innings,info.dates,info.match_type,info.gender,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city,info.outcome.by.wickets
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],T20,female,Australia,20,[EJ Villani],"[Australia, New Zealand]",field,New Zealand,"[GA Abood, SAJ Craig]",Melbourne Cricket Ground,1,NaN,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",[2017-02-19],T20,female,New Zealand,20,[AM Peterson],"[Australia, New Zealand]",field,Australia,"[SAJ Craig, JD Ward]","Simonds Stadium, South Geelong",2,Victoria,NaN
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",[2017-02-22],T20,female,New Zealand,20,[SW Bates],"[Australia, New Zealand]",bat,New Zealand,"[GA Abood, JD Ward]",Adelaide Oval,3,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-27],T20,female,Australia,20,[KM Beams],"[Sri Lanka, Australia]",field,Australia,"[JWHD Boteju, ID Gunawardene]",Sinhalese Sports Club Ground,4,Colombo,10.0
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",[2016-11-21],T20,female,New Zealand,20,NaN,"[New Zealand, Pakistan]",bat,New Zealand,"[K Cross, D Venter]",Saxton Oval,5,Nelson,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-28],T20,female,Sri Lanka,20,[AC Jayangani],"[South Africa, Sri Lanka]",bat,Sri Lanka,"[SD Fry, JS Wilson]",M Chinnaswamy Stadium,857,Bangalore,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-03-30],T20,female,Australia,20,[MM Lanning],"[Australia, England]",field,England,"[CB Gaffaney, S Ravi]",Feroz Shah Kotla,858,Delhi,NaN
0,"[{'1st innings': {'team': 'West Indies', 'deli...",[2016-03-31],T20,female,West Indies,20,[B Cooper],"[New Zealand, West Indies]",field,New Zealand,"[RK Illingworth, NJ Llong]",Wankhede Stadium,859,Mumbai,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-04-03],T20,female,West Indies,20,[HK Matthews],"[Australia, West Indies]",bat,Australia,"[Aleem Dar, RK Illingworth]",Eden Gardens,860,Kolkata,8.0
0,"[{'1st innings': {'team': 'Ireland', 'deliveri...",[2016-09-05],T20,female,Ireland,20,NaN,"[Ireland, Bangladesh]",field,Bangladesh,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",861,Londonderry,NaN

In [10]:
data['info.gender'].value_counts()

female    861
Name: info.gender, dtype: int64

In [11]:
data['info.match_type'].value_counts()

T20    861
Name: info.match_type, dtype: int64

In [12]:
data['info.overs'].value_counts()

20    857
50      4
Name: info.overs, dtype: int64

In [13]:
data=data[data['info.overs']==20]
data.drop(columns=['info.overs','info.match_type'],inplace=True)

C:\Users\91776\AppData\Local\Temp\ipykernel_25712\697669965.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['info.overs','info.match_type'],inplace=True)